*
{
 padding: 0px;
 margin: 0px;
}
@font-face {
 font-family: fontbold;
 src: url(fonts/AvenirNextLTPro-Bold.otf);
}
@font-face
{
 font-family: fontregular;
 src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
 font-family: fontdemi;
 src: url(fonts/AvenirNextLTPro-Demi.otf);
}
.header
{
 background:  linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)),url('images/christmas.png') no-repeat;
 padding-bottom: 20px;
 background-size: cover;
 background-attachment: fixed;
}
.nav-link
{
 color:#fff!important;
 font-weight: 500;
 font-size: 20px;
 margin-right: 36px;
 letter-spacing: 2px;
 display: inline-block;
}
.nav-link::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .7s
}
.nav-link:hover::after
{
    width: 100%;
    transition: width 0.7s;
}
.newyear
{
 text-transform: uppercase;
 text-align: center;
 font-size: 45px;
 color: #0dceda;
 font-weight: 800;
 padding-top: 48px;
 letter-spacing: 5px;
 font-family: fontbold;
}
.rupee
{
 text-align: center;
 font-size: 95px;
 color: #fff;
 font-weight: 800;
 padding-top: 28px;
 letter-spacing: 7px;
 color: #93e5f2;
margin-top: -43px;
 font-family: fontbold;
}
.hosting
{
 text-transform: uppercase;
 text-align: center;
 font-size: 30px;
 color: #fff;
 font-family: fontregular;
 letter-spacing: 2px;
 font-weight: 900;
 margin-top: -5px;
}
.getstarted
{
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
    background: #93e5f2;
    font-family: fontbold;
    letter-spacing: 3px;
    margin-left: 602px;
    padding: 8px 64px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
}
.getstarted:focus
{
 outline: none;
 box-shadow:none;
}
.hurry
{
 text-align: center;
 font-family: fontdemi;
 font-size: 31px;
 color: #fff;
 font-weight: 800;
 text-transform: capitalize;
 letter-spacing: 2px;
 margin-top: 8px;
 padding-bottom: 30px;
}
.circle
{
 background: #d8faff;
 width: 410px;
 height: 410px;
 border-radius: 50%;
 margin-top: 130px;
 font-size: 31px;
 line-height: 396px;
 text-align: center;
 font-family: fontregular;
}
.imgs
{
    width: 410px;
    height: 410px;
    margin-top: 130px;
    border-radius: 50%;
}
.leftside
{
 margin-top: 120px;
 margin-right: 100px;
}
.heading
{
font-weight: 800;
text-transform: uppercase;
font-size: 37px;
font-family: fontbold;
color:#2BAE66FF;
}
.para1
{
 padding-top: 30px;
 line-height: 33px;
 font-family: fontregular;
 margin-bottom: 0px;
}
.cont
{
 padding-left: 125px;
 padding-right: 125px;
}
.headiv
{
 background: #1e282a;
 margin-top: 130px;
 padding-bottom: 150px;
}
.card-group
{
    text-align: center;
    margin-bottom: 16px;
    padding-top: 108px;
}
.standard
{
    font-family: fontdemi;
    font-size: 30px;
    margin-bottom: 0px;
    color: #522546;
}
.premium
{
    font-family: fontdemi;
    font-size: 30px;
    margin-bottom: 0px;
    color:#521262;
}
.advanced
{
    font-family: fontbold;
    font-size:30px;
    margin-bottom: 0px;
    color: #b10015;
}
.staticplat
{
    font-family: fontregular;
    font-size: 19px;
    padding-top: 6px;
    margin-bottom: 0px;
}
.num1
{
    color: #b10015;
    font-size: 31px;
    padding-top: 6px;
    font-family: fontdemi;
}
.num2
{
    color: #b10015;
    font-size: 28px;
    padding-top: 6px;
    font-family: fontbold;
}
.seo
{
    font-family: fontregular;
    font-size: 20px;
    margin-bottom: 6px;
}
.seo:hover
{
    font-family: fontbold;
    font-size: 24px;
    color: #ff8c94;
    transition: all 0.4s ;
}


.support
{
    font-family: fontregular;
    font-size: 20px;
    margin-bottom: 6px;
}
.support:hover
{
    font-family: fontbold;
    font-size: 24px;
    transition: all 0.4s ;
    color: #f85f73;
}
.includes
{
    font-family: fontregular;
    font-size: 20px;
    margin-bottom: 6px;
}
.includes:hover
{
    font-family: fontbold;
    font-size: 24px;
    transition: all 0.4s ;
    color: #00e0ff;
}
.responsive
{
    font-family: fontregular;
    font-size: 20px;
    margin-bottom: 6px;
}
.responsive:hover
{
    font-family: fontbold;
    font-size: 24px;
    transition: all 0.4s ;
    color: #0c056d;
}
.emailacc
{
    font-family: fontregular;
    font-size: 22px;
    margin-bottom: 0px;
}
.emailacc:hover
{
    font-family: fontbold;
    font-size: 24px;
    transition: all 0.4s ;
    color: #6eb6ff;
}
.buynow
{
    background-color: #93e5f2;
    color: #000;
    border: none;
    padding: 5px 26px;
    font-family: fontbold;
    margin-top: 24px;
    font-size: 22px;
    margin-bottom: 10px;
}
.buynow:focus
{
    box-shadow: none;
}
.buynow:hover
{
    box-shadow: none;
    padding: 10px 40px;
    transition: all 0.4s ease-out;
}

.leftarea
{
    padding-top: 308px;
    margin-left: 147px;
    margin-right: 134px;
}
.headingmodified
{
font-weight: 800;
text-transform: uppercase;
font-size: 28px;
font-family: fontbold;
color: #93e5f2;
}
.para1modified
{
 padding-top: 30px;
 line-height: 30px;
 font-family: fontregular;
 margin-bottom: 0px;
 color: #fff;
}
.smallcircle1
{
    background: #fff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 315px;
    margin-right: 475px;
}
.smallcircle2
{
    background: #fff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 55px;
    margin-right: 475px;
}
.smallcircle3
{
    background: #fff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 55px;
    margin-right: 475px;
}
.rightarea
{
    margin-top:-100px;
    margin-right: 98px;
}
.loremheader
{
    color: #93e5f2;
    text-transform: uppercase;
    font-family: fontbold;
    font-size: 20px;
}
.lorempara
{
    color:#fff;
    font-family: fontregular;
    font-size: 15px;
    padding-right: 58px;
}
.subrightdiv1
{
    margin-top: -438px;
    margin-left: 138px;
}
.subrightdiv2
{
    margin-top: 95px;
    margin-left: 138px;
}
.subrightdiv3
{
    margin-top:95px;
    margin-left: 138px;
}
.maindiv
{
    width: 800px;
    height: 400px;
    background: #84cbd6;
    margin-top: 300px;
    margin-bottom: 56px;
    margin-left: 365px;
    margin-right: 365px;
    border-radius: 13px;
    position: relative;
}
.bird
{
    position: absolute;
    right: 114px;
    top: -140px;
}
.birdrotated
{
    position:absolute;
    left: 0px;
    top: -257px;
    transform: rotateY(177deg);
}
.envelope
{
    position: absolute;
    top: -144px;
    left: 253px;
}
.inputdiv
{
    position: absolute;
    padding-top: 78px;
    padding-left: 124px;
}
.emailform:focus
{
    box-shadow: none;
}
.emailform
{
    padding: 8px 153px;
    border-radius: 20px;
    margin-left: 33px;
    margin-top: 85px;
}
.emailform::placeholder
{
    color: #e5e5e5;
    letter-spacing: 3px; 
    font-family: fontregular;
}
.btnsubscribe
{
    position: absolute;
    padding-top: -20px;
    border: 1px solid #b10015;
    text-decoration: none!important;
    color: #fff;
    padding: 8px 52px;
    border-radius: 22px;
    background: #b10015;
    font-family: fontbold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:223px;
    margin-left: 292px;
}
.btnsubscribe:hover
{
    color: #fff;
}
.lastpara
{
    position: absolute;
    padding-top: 285px;
    text-align: center;
    padding-left: 72px;
    font-family: fontregular;
    padding-right: 72px;
    color: #fff;
}
.treeright
{
    position: absolute;
    right: 137px;
    top: 588px;
}
.treeleft
{
    position: absolute;
    left: 137px;
    top: 588px;
}
.footer
{
    background: #1e282a;
    position: relative;
    text-align: center;
    padding-bottom: 24px;
}
.divsetting
{
    margin-left: 446px;
    margin-right: 446px;
}
.footerimg
{
    padding-top: 20px;
}
.lasttextdiv 
{
    text-align: center;
    margin-top: 21px;
}
.lasttext
{
    color: #fff;
    font-size: 15px;
    font-family: fontregular;
    padding-top: 15px;
    padding-bottom: 16px;
}
.upperhr
{
    background: #fff;
    width: 319px;
    margin-left: 191px;
}

.facebook
{
    color: #fff;
    margin-right: 20px;
    margin-top: -7px;
    margin-left: 64px;
}
.instagram
{
    color: #fff;
    margin-right: 20px;
    font-size: 23px;
}
.twitter
{
    color: #fff;
    margin-right: 20px;
    font-size: 23px;
}
.linkedin
{
    color: #fff;
    margin-right: 20px;
    font-size: 23px;
}
.contactspan
{
    display: inline;
    color: #fff;
    padding-left: -70px;
    font-family: fontregular;
    font-size: 14px;
}
.contactspan1
{
    display: inline;
    color: #fff;
    padding-left: -70px;
    font-family: fontregular;
    font-size: 14px;
}
.immg
{
    padding-right:11px;
    padding-left: 81px;
}
.emailimg
{
    font-family: fontregular;
    margin-left: 80px;
    padding-right: 11px;
}
.perfectpricediv
{
 color: #93e5f2;
 font-size: 30px;
 text-transform: uppercase;
 font-family: fontbold;
 letter-spacing: 3px;
 padding-bottom: 50px;
}
.rowperfect
{
    background: #000;
    margin-top: 150px;
padding-bottom: 150px;
}
.perfectprice
{
    text-align: center;
    padding: 40px 0px;
}
.card-body
{
    text-align:center;
}
.cardset
{   padding-left:220px;
    padding-right:220px;
}

.cardvip
{
    border: 5px solid #b10015;
}
.recommendedpara
{
    color: #fff;
    background: #b10015;
    font-family: fontdemi;
    font-size: 20px;
    text-align: center;
    margin-top: -55px;
    margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.c1:hover
{
    border: 5px solid #dcedc1;
    transition: border 0.6s ease-in-out;
}
























































































@media (max-width:768px)
{
    .body
    {
        overflow-x: hidden;
        width: 100%;
    }
    .newyear
    {
        font-size: 25px;
    }
    .rupee
    {
        font-size: 70px;
    }
    .hosting
    {
        font-size:20px;
    }
    .hurry
    {
        margin-top: 20px;
        font-size: 26px;
        margin-bottom: -32px;
    }
    .leftside
    {
        margin-top: 10px;
        margin-right: 0px;
    }
    .cont
    {
        padding-left: 10px;
        padding-right:0px;
        padding-bottom: 0px;
    }
    .imgs
    {
        width: 200px;
        height: 200px;
        margin-top: 1144px;
        margin-left: -299px;
        font-size: 25px;
        line-height: 190px;
        margin-bottom: -104px;
    
    }
    .heading
    {
        padding-right: 200px;
    }
    .para1
    {
        padding-right: 50px;
        padding-left: 20px;
    }
.card
    {
    margin-top: 50px;
    margin-left: -15px;
    }
    .card-group
    {
        margin-left: 10px;
    margin-right: 10px;
    }
    .leftarea
    {
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .rightarea
    {
        margin-top: 185px;
         margin-right: 50px;
    }
    .para1modified
    {
        margin-right: 20px;
    }
    .headingmodified
    {
        padding-right: 189px;
    }
    .rightcol1
    {
        margin-left:-409px;
    }
    .rightcol2
    {
        margin-left: -400px;
    }
    .subrightdiv2
    {
        margin-top: 35px;
    }
    .loremheader
    {
        font-size: 15px;
        margin-left: -19px;
    }
    .lorempara
    {
        padding-right: 235px;
        margin-left: -19px;
    }
    .headiv
    {
        padding-bottom: 37px;
    }
    .maindiv
    {
        width: 350px;
        height: 423px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 145px;
    }
    .envelope
    {
        top: -132px;
        left: 56px;
        width: 250px;
        height: 250px;
    }
    .emailform
    {
        margin-top: 56px;
        padding: 8px 22px;
    }
    .inputdiv
    {
        padding-left:24px;
    }
    .btnsubscribe
    {
        margin-top: 200px;
        margin-left: 70px;
    }
    .lastpara
    {
        padding-left: 10px;
        padding-right: 10px;
        padding-top:275px;
        font-size: 14px;
    }
    .treeleft
    {
        display: none;
    }
    .treeright
    {
        display: none;
    }
    .divsetting
    {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 31px;
    }
    .footer
    {
        padding-bottom: 0px;
    
    }
    .upperhr
    {
        margin-left: 25px;
    }
    .contact
    {
        margin-left: -80px;
    }
    .contactspan1
    {
        margin-left: -54px;
    }
    .getstarted
    {
        margin-left: 63px;
        padding: 6px 33px;
    }
    .cardset
{   padding-left:0px;
    padding-right:0px;
}
.recommendedpara
{
    margin-top: 55px;
    margin-bottom: -51px;
}
}